In [ ]:
# Submitted by Santosh Kumar

MySql TASK - 24 July

1. Ceate a Table for attribute data set and dress dataset
2. Do a bulk load for these two table for respective data set
3. Read these dataset in pandas as a dataframe
4. Convert attributr data set in json format
5. Store this dataset into MongoDB
6. In SQL task try to perform left join opearation with atttribute dataset and dress dataset on column Dress_ID.
7. Write a SQL query to find out how many unique dress that we have based on Dress_ID
8. Try to find out how many dress is having recommendation as 0
9. try to find out total dress sell for individual Dress_ID
10. try to find out third highest most selling dress (Dress_id)

In [2]:
import mysql.connector as conn
import pandas as pd
import pymongo
import json

In [3]:
mydb = conn.connect(host="localhost",user="practice_user",passwd="password",use_pure=True)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002AE466A3430>

In [4]:
## Question - 3

In [5]:
sql1 = pd.read_sql('select * from sql_task.attribute_dataset',mydb)
sql2 = pd.read_sql('select * from sql_task.dress_sales',mydb)
print(type(sql1))
print(type(sql2))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
## Question - 4

In [7]:
attribute_json = sql1.to_json('attribute.json')
dress_json = sql2.to_json('dress.json')

In [8]:
## Question - 5

In [9]:
import pymongo


client = pymongo.MongoClient("mongodb+srv://santosh:santosh2022@cluster0.h79lufg.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [10]:
database = client['task']
collection = database['attribute_dataset']

with open(r'attribute.json') as file :
    file_data = json.load(file)
    
collection.insert_one(file_data)

In [11]:
database = client['task']
collection = database['dress_sales']

with open(r'dress.json') as file :
    file_data = json.load(file)
    
collection.insert_one(file_data)